* {
  margin: 0;
  padding: 0;
}
//Inicio Hamburger Icon
.menu-container{
  display: flex;
  justify-content: center;
  padding: 0 15px;
  align-items: center;
  background: rgb(78, 134, 255);
  height: 60px;
}

.menu-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
  }
}

.sub-menu-container{
  display: flex;
  justify-content: center;
  padding: 0 15px;
  align-items: center;
  background: #5fabc2;
  height: 60px;
  
}
.sub-menu-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a{
    font-family: Georgia;
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
}
//Final Hamburger Icon

//Inicio Accordion

.main-accordion-container{
  width: 100%;
  border-bottom: 2px solid white;
  .accordion-item{
    width: 100%;
    background: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    //padding: 0 10px 0 10px;

    .accordion-title{
      width: 100%;
      background: #e9791a;
      color: ghostwhite;
      font-family: arial;
      font-size: 30px;
      display: flex;
      justify-content: center;
      padding: 20px 0 20px 0;
      text-align: center;
    }

    .accordion-desc{
      width: 100%;
      display: none;
      //border-top: 3px solid yellowgreen;
    }

    &.tab-active{
      .accordion-desc{
        width: 100%;
        display: flex;
        height: auto;
        //border-bottom: 10px solid yellowgreen;
        p{
          width: 100%;
          justify-content: center;
          padding: 5px 40px 20px 40px;
          text-align: justify;
          font-size: 25px;
          color: black;
        }

      }
    }
  }

}

//Final Accordion

//Inicio Wrap
    main{
    
    background: rgb(13, 25, 94);
    padding-top: 50px;

        .container-1{
    
          display: flex;
          flex-direction: row;
          padding-bottom: 50px;
          align-items: center;
          
          border-bottom: solid 2px white;
         

        .container-1-img{
          display: flex;
          align-items: center;
          justify-content: space-around;
              img{
                max-width: 80%;
                margin: 10px 0px 20px 200px;
                border-radius: 10px;
                border: solid 2px white;
              &:hover{
                transform: scale(1.01);
              }
            }

        }
          .container-1-text{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h1{
              width: 80%;
              border: solid 2px white;
              text-align: center;
              padding: 5px 10px 5px 10px; 
              margin-bottom: 5px;
              border-radius: 10px;
              background-color: rgb(78, 134, 255) ;
              font-family: fantasy;
            }
            p{
              width: 80%;
              text-align: justify;
              padding: 10px 10px 20px 10px; 
              border: solid 2px white;
              margin-bottom: 20px;
              border-radius: 10px;
              background-color: rgb(78, 134, 255);
              font-family: Geneva;
              font-size: 18px;
            }



          }


      }
    }

//Final Wrap










//Inicio de Cards
.card-list{
  background-color: rgb(13, 25, 94);
  //background-image: url(https://media.istockphoto.com/vectors/digital-technology-gaming-abstract-background-vector-id1164222265?k=20&m=1164222265&s=612x612&w=0&h=MVArEQyhxQZu4O_qQtESnXbPiZMD1Hl6cyNaDdH3bAc=);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  border: solid 2px white;

    .card-item{
    width: 25%;
    padding-bottom: 20px;
    background: rgb(78, 134, 255) ;
    border-radius: 10px;
    padding-bottom: 30px;
    box-shadow: 2px 2px 8px -1px beige;
    margin-bottom: 30px;
    overflow: hidden;
    border: solid 2px black;


    &:hover{
      transform: scale(1.005) translateX(-1px);
    }

    .img{
      width: 30%;
      margin-bottom: 20px;
      max-height: 350px;
      min-height: 350px;
      border-bottom: solid 2px black;
    }

    .card-info{
      height: auto;
      padding: 15px 15px 0 10px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: flex-end;

      .card-title{
        font-size: 18px;
        font-weight: bold;
        font-family: Helvetica;
        margin-bottom: 10px;
        text-align: center;
      }
      .card-desc{
        min-height: 100px;
        max-height: 100px;
        font-family: Georgia;
        font-size:  16px;
        margin-bottom: 7px;
        text-align: center;
      }
      .card-cta{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-decoration: none;
        font-family: Helvetica;
        padding: 15px 5px 0 0;
        border-top: solid 1px black;

      }


    }


    }
  


}

//Final de Cards




//Inicio de Footer
.footer-container{
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  background-color: rgb(78, 134, 255);
  color: white;
  .footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    p{
      text-decoration: none;
      font-size: 25px;  
      font-family: Verdana;
    }

  }


  .footer-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;

    p{
      text-decoration: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
    }
  }



}





//Final de Footer


  


  @media (max-width: 1310px){
    //Inicio de Cards
    .card-list{
      .card-item{
        .card-info{
          .card-title{
            font-size: 15px;
          }
          .card-desc{
          font-size: 12px;
          }

        }
      }
    }

    //Final de Cards

    //Inicio de Footer
    .footer-container{
      .footer-list{
        p{
          font-size: 20px;
        }

      }

      .footer-info{
        p{
          font-size: 18px;
        }

      }
    }

    //Final de Footer

  }

  @media (max-width: 1100px){
    .card-list{
      .card-item{
        width: 45%;
      }
    }
    
  }

  @media (max-width: 991px) {
    //Inicio Hamburger Icon
    
      .menu-container{
      justify-content: flex-end;
      position: relative;
    
      .hamburger-icon{
        width: 35px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    
        span{
        height: 2px;
        width: 100%;
        background: white;
        display: block;
        border-radius: 2px;
        }
      }
    
      .menu-list{
        display:none;
      }
      }
    
      .menu-container.menu-open{
      .menu-list{
        z-index: 100;
        border: 3px solid darkorchid;
        width: 150px;
        margin: 122px 15px 0px 0px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: left;
        text-align: center;
        background-color: darkblue;
        border-radius: 1px;
        padding: 10px;
    
        a{
          padding: 5px 0px 5px 0px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
          color: white;
        }
      }
      }
    
      .sub-menu-container{
          justify-content: flex-start;
          position: relative;
    
        .sub-hamburger-icon{
            width: 35px;
            height: 25px;
            display: flex;
            justify-content: space-between;
          flex-direction: column;
    
          span{
            height: 2px;
            width: 100%;
            background: white;
            display: block;
            border-radius: 2px;
    
            }
          }
    
          .sub-menu-list{ 
            display:none;
          }
      }
    
      .sub-menu-container.sub-menu-open{
            .sub-menu-list{
              z-index: 99;
              border: 3px solid darkorchid;
              width: 150px;
              padding-top: 5px;
              padding-bottom: 5px;
              height: auto;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-content: left;
              text-align: center;
              background-color: darkblue;
              border-radius: 1px;
              padding: 10px;
              margin: 163px 0px 0px 15px;
    
              a{
                padding: 5px 0px 5px 0px;
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: white;
              }
    
    
            }
      }
      //Final Hamburger Icon

      //Inicio Main
          main{
            .container-1{
              .container-1-img{
                img{
                  max-width: 95%;
                }
              }
            }
          }



      //Final Main
      

      //Inicio de Cards
    
      .card-list{
        .card-item{
          width: 45%;
          img{
            max-height: 200px;
            min-height: 200px;
          }
        }
      }

      //Final de Cards

      //Inicio de Footer
    .footer-container{
      .footer-list{
        p{
          font-size: 14px;
        }

      }

      .footer-info{
        padding-right: 30px;
        p{
          font-size: 13px;
        }

      }
    }

    //Final de Footer 
    
    }

  @media (max-width: 600px){

     //Inicio Main
        main{
          .container-1{
            .container-1-img{
              img{
                max-width: 95%  ;
              }
            }
          }
        }
    //Final Main

    //Inicio de Cards
    .card-list{
      .card-item{
        width: 90%;
        img{
          max-height: 300px;
          min-height: 300px;
        }
      }
    }
    //Final de Cards

 //Inicio de Footer
 .footer-container{
  .footer-list{
    flex-direction: column;
    align-items: center;
    

  }

  .footer-info{
    padding-right: 20px;
    

  }
}

//Final de Footer 


  }

  @media (max-width: 500px){
    //Inicio Accordion
    .main-accordion-container{
      .accordion-item {
        .accordion-title{
          padding: 15px 0 15px 0;
          font-size: 25px;
        }
        &.tab-active {
          .accordion-desc{
            background: lightyellow;
            p{
              padding: 5px 20px 5px 20px;
              color: cornflowerblue;
              font-size: 20px;
            }
          }
        }
      }
  
    }
    //Final Accordion


  } 
